<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <script src="https://kit.fontawesome.com/df67bacc25.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Weather App</title>
   
</head>
<body>
   <div class="container-fluid" id="bgimg">
      <nav class="navbar ">
        <span class="navbar-brand mb-0 h1"><h1>Weather, Inc</h1></span>
      </nav>
    
    <div class="row justify-content-center" id="main1">
      <div class="col-6">
         <div class="row justify-content-center" id="main">
         <h1 class="display-4">Search Weather Around The Globe</h1>
      </div>
      <div class="row justify-content-center" id="main">
       <form>
        <input class="form-control form-control-lg" type="text" placeholder="Location">
         <button  type="submit" class="btn btn-primary mb-2" id="subbtn">Submit</button>
       </form>
      </div>
      <div class="row justify-content-center" id="main" >
        <div class="col-12" id="datainput">
      
         <div class="row justify-content-center">
           <span>
            <i class="fas fa-map-marker-alt" style="display:none;" id="message-1i" > </i>
            <h4 id="message-1"  ></h4>
           </span>
         </div>
          <div class="row justify-content-center" >
           <span>
            <i class="fas fa-temperature-low" style="display:none;" id="message-2i"></i>
            <h4 id="message-2"></h4>
           </span>

         </div>
          <div class="row justify-content-center" >
           <span>
            
            <h4 id="message-3"></h4>
           </span>

         </div>


        </div>
        
      </div>
      

      </div>
     </div>
     <footer class="footer">
      <div class="row">
        <div class="col-sm-6 text-md-left text-center" >
          <div class="row justify-content-center" >
            <span style="padding-top: 1.5vh;">
            <a  target="_" href="https://sumitkolpekwar.firebaseapp.com" style=" color:inherit;text-decoration:none;">Created by Sumit Kolpekwar</a>
            </span>
          </div>
        </div>
          
        <div class="col-sm-6  text-md-right text-center" >
           <div class="row justify-content-center">
               <div style="float: right;">
                <a  target="_" href="https://nodejs.org/en/">
                <img src="/img/njs.png" style="width: 32px; height:24px;margin:1vh" >
                </a>
                <a  target="_" href="https://darksky.net/">
                <img src="/img/dsky.png" style="width: 64px; height:32px;margin:1vh" alt="">
                </a>
                <a  target="_" href="https://www.mapbox.com/">
                <img src="/img/mapbox.png" style="width: 64px; height:32px;margin:1vh " alt="">
                </a>
                </div>
             </div>
            

        </div>
         
             
  
          
      </div>
    </footer>
   
  
    
     
  </div>
   
      
          

  <script src="/js/app.js"></script>   
</body>
</html>