body{
    background: #f12711;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #f5af19, #f12711);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #f5af19, #f12711); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

header{
    background-image: url(https://source.unsplash.com/collection/279087/1600x900);
}

.container-fluid{

    height: 100vh;
    background: #f12711;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #f5af19, #f12711);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #f5af19, #f12711); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
overflow: auto;
min-height: 100%;
    display: flex;
    flex-direction: column;


}

#main{
    text-align: center;
}
#main1{

    margin-top: 10vh;
    text-align: center;
    flex-grow: 1;
}

form{
    width: 50vh;
    align-self: center;
    padding-top: 3vh;
}
#subbtn{
    margin:2vh
}



a{
    color:inherit;text-decoration:none;
}

#goback{
    margin-top: 10vh;
    width: 250px;
}





footer {
    flex-shrink: 0;
    width: 90%;
    padding-left:10% ;
    margin-top: 5vh;
    margin-bottom: 1vh;

}

